.app-navigation nav {
    border: none;
    background: #fff;
    width: 100%;
}

.app-navigation .navbar-nav>li>.dropdown-menu {
    margin-top: 10px;
}

.navbar, .bx-wrapper {
    margin-bottom: 0;
}

.app-navigation nav .navbar-nav {
    margin: 20px 10% 10px;
}

.app-navigation nav .navbar-nav .caret {
    margin-left: 10px;
}

.model-nav-list,
.model-list,
.dropdown-menu-item,
.item-content-menu,
.item-content-data {
    padding: 0;
}

.dropdown-menu-item .menu-item a {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 15px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 15px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.model-nav-list .dropdown:hover .dropdown-toggle {
    color: #c00;
    background-color: #fff;
}

.model-list {
    width: 310px;
}

.model-list .model-item {
    padding: 5px 20px;
    border-bottom: 1px solid #eee;
}

.model-list .model-item:last-child {
    border-bottom: none;
}

.dropdown-menu-item .menu-item:last-child a {
   border: none;
}

.model-list .model-item .item-name {
    padding: 30px 15px;
}

.model-list .model-item .item-name span {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

.model-car-list .model-car-item {
    padding: 12px 15px;
    border-bottom: 1px solid #eeeeee;
    color: #000;
    text-decoration: none;
    background: #fff;
}

.model-list .model-item:hover,
.model-list .model-item:hover .item-name > span,
.dropdown-menu-item .menu-item:hover a{
    background-color: #c00;
    color: #fff;
    cursor: pointer;
}

.model-list .model-item .col-sm-7 img {
    width: 100%;
}

.bx-wrapper {
    border: none;
}

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    bottom: 15px;
}

.slider .slide-item img {
    width: 100%;
}

.slider .slide-item-description {
    position: absolute;
    top: 75%;
    left: 5%;
    color: #fff;
}

.slide-item-description a {
    color: #fff;
    text-decoration: none;
}

.slide-item-description:hover a {
    color: #c00;
    cursor: pointer;
}

.models-section .models-list {
    list-style: none;
}

.models-section .models-list .models-item img {
    width: 100%;
}

.models-section .models-list .models-item  {
    text-align: center;
}

.models-section .models-list .models-item a {
    text-decoration: none;
    color: #000;
}