.app-navigation nav {
    border: none;
    background: #fff;
    width: 100%;
}

.app-navigation .navbar-nav>li>.dropdown-menu {
    margin-top: 10px;
}

.navbar, .bx-wrapper {
    margin-bottom: 0;
}

.app-navigation nav .navbar-nav {
    margin: 20px 10% 10px;
}

.app-navigation nav .navbar-nav .caret {
    margin-left: 10px;
}

.model-nav-list,
.model-list,
.dropdown-menu-item,
.item-content-menu,
.item-content-data {
    padding: 0;
}

.dropdown-menu-item .menu-item a {
    padding: 10px;
    border-bottom: 1px solid #eee;
    font-size: 15px;
}

.car-data-menu .menu-list li:first-child {
    padding-top: 0;
}
.navbar-default .navbar-nav>li>a {
    font-size: 15px;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.model-nav-list .dropdown:hover .dropdown-toggle {
    color: #c00;
    background-color: #fff;
}

.model-list {
    width: 310px;
}

.model-list .model-item {
    padding: 0 20px;
    border-bottom: 1px solid #eee;
}

.model-item .model-list-car {
    position: absolute;
    left: 308px;
    width: 310px;
    background-color: #fff;
    list-style: none;
    color: #000;
    padding: 0;
    /*outline: 1px solid #eee;*/
    display: none;
}

.model-item:hover .model-list-car {
    outline: none;
}

.model-item .model-list-car a {
    text-decoration: none;
}

.model-item .model-list-car .list-car-item {
    padding: 10px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #eee;
    font-size: 15px;
    /*display: none;*/
}

.model-item .model-list-car .list-car-item:last-child {
    border-bottom: none;
}

.model-item .model-list-car .list-car-item:hover {
    background-color: #c00;
    color: #fff;
}

.model-list-car .list-car-item .car-data {
    position: absolute;
    background-color: #fff;
    left: 310px;
    top: 0;
    width: 480px;
    display: none;
}

.model-list-car .list-car-item .car-data img {
    width: 100%;
}
.car-data-menu,
.car-data-params,
.model-list-car .car-data .car-data-name {
    color: #000;
    padding: 10px;
    font-size: 15px;
}

.car-data-name .data-name {
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
}

.car-data-menu .menu-list {
    list-style: none;
    padding: 0;
}

.car-data-menu .menu-list li {
    padding: 10px;
}

.car-data-params {
    padding-top: 10px;
    border-left: 1px solid #eee;
}

.car-data-menu .menu-list .menu-item a {
    color: #000;
    font-size: 15px;
}

.car-data-menu .menu-list .menu-item:hover a {
    color: #00a7d0;
}

.car-data-menu .menu-list .view-car a,
.car-data-menu .menu-list .view-car:hover a {
    color: #fff;
    background-color: #c00;
    padding: 10px 30px;
    font-size: 16px;
}

.model-list .model-item:last-child {
    border-bottom: none;
}

.dropdown-menu-item .menu-item:last-child a {
   border: none;
}

.model-list .model-item .item-name {
    padding: 30px 15px;
}

.model-list .model-item .item-name span {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
}

.model-car-list .model-car-item {
    padding: 12px 15px;
    border-bottom: 1px solid #eeeeee;
    color: #000;
    text-decoration: none;
    background: #fff;
}

.model-list .model-item:hover,
.model-list .model-item:hover .item-name > span,
.dropdown-menu-item .menu-item:hover a{
    background-color: #c00;
    color: #fff;
    cursor: pointer;
}

.model-list .model-item .col-sm-7 img {
    width: 100%;
}

.bx-wrapper {
    border: none;
}

.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager {
    bottom: 15px;
}

.slider .slide-item img {
    width: 100%;
}

.slider .slide-item-description {
    position: absolute;
    top: 75%;
    left: 5%;
    color: #fff;
}

.slide-item-description a {
    color: #fff;
    text-decoration: none;
}

.slide-item-description:hover a {
    color: #c00;
    cursor: pointer;
}

.models-section .models-list {
    list-style: none;
}

.models-section .models-list .models-item img {
    width: 100%;
}

.models-section .models-list .models-item  {
    text-align: center;
}

.models-section .models-list .models-item a {
    text-decoration: none;
    color: #000;
}

/* User section */
.login-container, .register-container {
    margin: 0 10.5%;
}

.login-container .form-group .form-control,
.register-container .form-group .form-control {
    border-radius: 0;
}

.login-container .login-submit-btn,
.register-container .register-submit-btn {
    border-radius: 0;
    background-color: #c00;
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
}

/* Model list section */

.model-list-section .model-item a {
    text-decoration: none;
}

.car-list-section .car-item .car-logo img,
.model-list-section .model-item .model-logo img {
    width: 100%;
}

.car-list-section .car-item .car-data,
.model-list-section .model-item .model-data {
    text-align: center;
}

.car-list-section .car-item .car-data span,
.model-list-section .model-item .model-data span {
    color: #000;
    font-size: 16px;
}

.car-list-section .car-item:hover .car-data span,
.model-list-section .model-item:hover .model-data span {
    color: #c00;
}

