{% extends 'base.html.twig' %}

{% block title %}
    Museum
{% endblock %}
{% block body %}
    <div class="museum-wrapper">
        <img src="{{ asset('assets/img/porsche-normal (5).jpg') }}" alt="">
    </div>
    <div class="museum-title">
        <p>Museum</p>
    </div>
    <div class="museum-container">
        <p>Enjoy a close-up experience of the history of Porsche. Encounter legendary racing and sports cars,
            fascinating production models as well as unusual prototypes. More than 80 vehicles will take you
            from the early years all the way to the present days of Porsche’s history.
        </p>
        <div class="museum-link">
            <a href="https://www.porsche.com/uk/aboutporsche/porschemuseum/" class="btn">Visit the Porsche Museum Website</a>
        </div>
    </div>
{% endblock %}