{% extends 'base.html.twig' %}

{% block title %}
    item.title
{% endblock %}

{% block body %}
    <div class="offer-view-title">
        <p>{{ item.title }}</p>
    </div>
    <div class="offer-view-container">
        <div class="offer-image">
            <img src="{% path item.offersImage, 'reference' %}" alt="">
        </div>
        <div class="offer-data">
            <p>{{ item.description|raw }}</p>
        </div>
    </div>
{% endblock %}