{% extends 'base.html.twig' %}

{% block body %}
    <div class="offers-list">
        <h2 class="text-center">Offers by category</h2>
        <div>
            {{ render_breadcrumbs() }}
            {% for offers in pagination %}
                <div class="offers-item clearfix">
                    <div class="col-sm-4">
                        <img style="width: 100%" src="{% path offers.offersImage, 'reference' %}" alt="">
                    </div>
                    <div class="cols-sm-8 offers-description">
                        <h2>{{ offers.title }}</h2>
                        <div>{{ offers.shortDescription }}</div>
                        <a href="" class="btn more-offers-btn">Learn more</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="navigation offers-pagination">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}