{% extends 'base.html.twig' %}

{% block title %}
    Offers
{% endblock %}

{% block body %}
    <div class="offer-category-title">
        <p>Offers</p>
    </div>
    <div class="offers-category-list">
        {% for category in offersCategoryList %}
            <div class="clearfix offers-category-item">
                <div class="col-sm-4 item-logo">
                    <img style="width: 100%" src="{% path category.offersCategoryImage, 'reference' %}" alt="">
                </div>
                <div class="col-sm-8 item-description">
                    <h2 class="">{{ category.name }}</h2>
                    <p>{{ category.description|raw }}</p>
                    <a href="{{ path('category_offers_list', {'category': category.slug}) }}" class="btn more-offers-btn">Learn more</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}