{% extends 'base.html.twig' %}

{% block title %}
    {{ offer.title }}
{% endblock %}

{% block body %}
    <div class="offer-view-title">
        <p>{{ offer.title }}</p>
    </div>
    <div class="offer-view-container">
        <div class="offer-image">
            <img src="{% path offer.offersImage, 'reference' %}" alt="">
        </div>
        <div class="offer-data">
            <p>{{ offer.description|raw }}</p>
        </div>
    </div>
{% endblock %}