{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="col-lg-offset-3 col-lg-6">
        <h2>Change password page</h2>
        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-success" value="{{ 'change_password.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
</div>