{% macro category_macros(categories) %}
    {#<ul class="dropdown-menu dropdown-menu-item">#}
        {#{% for offerCategory in categories %}#}
            {#<li class="dropdown-submenu menu-item">#}
                {#<a class="submenu" href="">{{ offerCategory.name }}</a>#}
                {#{% if offerCategory.children|length > 0 %}#}
                    {#{{ _self.category_macros(offerCategory.children) }}#}
                {#{% endif %}#}
            {#</li>#}
        {#{% endfor %}#}
    {#</ul>#}

    <ul class="dropdown-menu dropdown-menu-item">
        {% for category in categories %}
            <li class="dropdown-submenu menu-item">
                <a class="submenu" href="">{{ category.name }}</a>
                {% if category.children|length > 0 %}
                    {{ _self.category_macros(category.children) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}