{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="text-center">Models</h2>
        <div class="model-list-section">
            {% for model in modelList %}
                <div class="col-sm-3 model-item">
                    <a href="">
                        <div class="model-logo">
                            <img src="{% path model.imageLogo, 'reference' %}" alt="">
                        </div>
                        <div class="model-data">
                            <span>{{ model.name }}</span>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}