{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2 class="text-center">{{ model }} Cars</h2>
        <div class="car-list-section">
            {% for car in carList %}
                <a href="">
                    <div class="car-item col-sm-3">
                        <div class="car-logo">
                            <img src="{% path car.imageLogo, 'reference' %}" alt="">
                        </div>
                        <div class="car-data">
                            <span>{{ car.name }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}