{% macro category_macros(categories) %}
    <ul class="dropdown-menu">
        {% if category.children|length > 0 %}
            {{ _self.category_macros(category.children) }}
        {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endmacro %}