{% extends 'base.html.twig' %}

{% block title %}
    Service calculate
{% endblock %}

{% block body %}
    <div class="service-calculate-title">
        <p>Service calculate</p>
    </div>
    <div class="service-calculate-container"></div>
{% endblock %}