{% extends 'base.html.twig' %}

{% block body %}
    <div class="container edit-user-section">
        <h2 class="text-center">Edit user car</h2>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success alert-dismissable">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <strong>Success!</strong> {{ message }}
            </div>
        {% endfor %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}