{% extends 'base.html.twig' %}

{% block title %}
    {{ item.title }}
{% endblock %}

{% block body %}
    <div class="news-view-title">
        <p>{{ item.title }}</p>
    </div>
    <div class="news-view-container">
        <div class="news-image">
            <img src="{% path item.newsImage, 'reference' %}" alt="">
        </div>
        <div class="news-data">
            <p>{{ item.description|raw }}</p>
        </div>
    </div>
{% endblock %}