{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="col-lg-offset-3 col-lg-6">
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
        {{ form_widget(form) }}
        <div>
            <input type="submit" class="btn btn-success" value="{{ 'profile.edit.submit'|trans }}" />
        </div>
        {{ form_end(form) }}
    </div>
</div>
