{% trans_default_domain 'FOSUserBundle' %}

<div class="show-profile-title">
    <p>Profile</p>
</div>
<div class="show-profile-container">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
</div>

