{% extends 'base.html.twig' %}

{% block title %}
    Available
{% endblock %}

{% block body %}
    <div class="available-car-title">
        <p>Available car list</p>
    </div>
    <div class="available-car-container">
        {{ render_breadcrumbs() }}
        <div class="car-list-section">
            {% for car in carList %}
                <a href="{{ path('car_view', {'carName': car.name, 'model': car.model.name}) }}">
                    <div class="car-item col-sm-3">
                        <div class="car-logo">
                            <img src="{% path car.imageLogo, 'reference' %}" alt="">
                        </div>
                        <div class="car-data">
                            <span>{{ car.name }}</span>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}